replicaCount: 1

image:
  repository: 599138915215.dkr.ecr.us-east-1.amazonaws.com/taskflow-frontend
  tag: 9ebdd3066dd540d062f4653356c4b60119c1d03d
  pullPolicy: Always

service:
  type: LoadBalancer
  port: 80

resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    cpu: 200m
    memory: 256Mi
