replicaCount: 1

image:
  repository: ghcr.io/GITHUB_USERNAME/taskflow/frontend
  tag: latest
  pullPolicy: Always

service:
  type: ClusterIP
  port: 80

resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    cpu: 200m
    memory: 256Mi
