apiVersion: v1
kind: Secret
metadata:
  name: {{ .Chart.Name }}-secret
  labels:
    {{- include "mysql.labels" . | nindent 4 }}
type: Opaque
stringData:
  root-password: {{ .Values.auth.rootPassword | quote }}
